<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <title>TenCentCheckers</title>
    <link rel="icon" href="https://tencentcheckers.s3.us-west-2.amazonaws.com/kingRedPiece.png">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app">React is Down!</div>
    <script src="bundle.js"></script>
  </body>
</html>
