<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <title>Checkers</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div>
      <div class="modalBackground">
        <div class="head"><h2>Checkers</h2></div>
        <form class="formBox" action="/login" method="POST">
          <h2>Login</h2>
          <div class="message">
            <% if (messages.error) { %>
              <%= messages.error %>
            <% } %>
          </div>
          <label for="email">Email: </label>
          <input class="login" type="email" id="email" name="email" required>
          <label for="password">Password: </label>
          <input class="login" type="password" id="password" name="password" required>
          <div class="buttonGrid">
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href='/register'">New User</button>
          </div>
          <button class="altButton" type="button" onclick="window.location.href='/guest'">Continue as Guest</button>
        </form>
      </div>
    </div>
  </body>
</html>