.head {
  text-align: center;
  font-size: 40px;
}


/**  Board  **/
.grid {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  width: fit-content;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}
.piece {
  max-width: 100px;
  max-height: 100px;
  margin: 25px;
}
.redSquare, .blackSquare, .selectedSquare, .selectedPiece {
  cursor: pointer;
  background-image: url('https://tencentcheckers.s3.us-west-2.amazonaws.com/light.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackSquare {
  background-image: url('https://tencentcheckers.s3.us-west-2.amazonaws.com/dark.jpg');
  cursor: auto;
}
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.selectedSquare {
  filter: brightness(70%);
}
.selectedPiece {
  filter: brightness(70%);
  transform: scale(1.2);
  border-radius: 25px;
  z-index: 2;
}
.selectedPieceRotated {
  filter: brightness(70%);
  -webkit-transform: scale(1.2) rotate(180deg);
  -moz-transform: scale(1.2) rotate(180deg);
  -ms-transform: scale(1.2) rotate(180deg);
  -o-transform: scale(1.2) rotate(180deg);
  transform: scale(1.2) rotate(180deg);
  border-radius: 25px;
  z-index: 2;
}


/**  Modals  **/
.bodyBackground, .modalBackground, .settingsBackground, .saveBackground {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url('https://tencentcheckers.s3.us-west-2.amazonaws.com/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 6;
}
.settingsBackground {
  z-index: 7;
}
.saveBackground {
  z-index: 8;
}
.victoryBackground {
  z-index: 9;
}
.jumpBackground {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 7;
}


/**  Inputs  **/
.message {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  margin: 2px 25%;
  width: 50%;
}
.formBox {
  color: black;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  margin: 0px 25%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border-radius: 10px;
  text-align: center;
  width: 50%;
}
.jumpBox, .inviteBox {
  background-image: url('https://tencentcheckers.s3.us-west-2.amazonaws.com/nextJump.jpg');
  margin: 25% 25%;
}
.inviteBox {
  z-index: 3;
}
label {
  margin-top: 5px;
  padding: 10px;
  font-family:'Montserrat',sans-serif;
}
input {
  width: 75%;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  font-family:'Montserrat',sans-serif;
}
input:focus {
  outline: none;
}
.login {
  margin-left: 10%;
}


/**  Buttons  **/
.buttonGrid {
  display: flex;
  margin: 0px;
  padding: 0px;
}
button {
  padding: 8px 12px;
  margin: 5%;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: ease-out 0.3s;
  width: 40%;
}
button:focus {
  outline: none;
}
button:hover {
  transition: ease-in 0.5s;
  transform: scale(1.2);
}
.inActive {
  cursor: not-allowed;
}
.inActive.active {
  cursor: pointer;
}
.altButton {
  margin: 2px 25%;
  width: 50%;
}
.back {
  margin-top: 15px;
}


/**  Images  **/
.settings {
  position: fixed;
  top: 20px; left: 20px;
  z-index: 9;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.mr {
  position: fixed;
  top: 20px; right: 50px;
  z-index: 9;
  height: 30px;
  width: 30px;
  cursor: pointer;
}


/**  Messager  **/
.drawerButton { /* leftDrawer leftOpenDrawer leftDrawerButton */
  width: 28px;
  height: 100%;
  margin: 0px;
  padding: 2px;
  background-color: rgb(166, 149, 96);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border-radius: 15px 0px 0px 15px;
  color: black;
  font-size: 20px;
  z-index: 5;
}
.drawerButton:hover {
  transform: none;
}
.drawer {
  position: fixed;
  top: 50px; right: 0px; bottom: 10px;
  border-radius: 15px 0px 0px 15px;
  width: fit-content;
  z-index: 5;
}
.openDrawer {
  width: 400px;
  background-color: rgb(190, 169, 117);
}
.mobileButton {
  width: 50px;
}
.mobileOpenDrawer{
  width: 100%;
}
.drawerContent {
  position: absolute;
  bottom: 10px; right: 0px; top: 10px;
  width: 372px;
}
.mobileContent {
  width: 90%;
}
.drawerLogIn {
  width: 100px;
}
.messages {
  display: flex;
  font-size: 20px;
  flex-direction: column-reverse;
  height: 90%;
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  overflow: auto;
}
.clientName {
  text-align: left;
  padding: 2px 10px;
  margin: 0px;
}
.clientMessage {
  text-align: left;
  height: fit-content;
  width: 70%;
  margin: 0px 2% 5px 2%;
  padding: 2px 10px;
  background-color: rgb(166, 149, 96);
  border: 1px solid black;
  border-radius: 0px 15px 15px 15px;
}
.opponentName {
  text-align: right;
  padding: 2px 10px;
  margin: 0px;
}
.opponentMessage {
  justify-content: right;
  text-align: right;
  height: fit-content;
  width: 70%;
  margin: 0px 2% 5px 22%;
  padding: 2px 10px;
  background-color: rgb(173 121 69);
  border: 1px solid black;
  border-radius: 15px 0px 15px 15px;
}
.sendBox {
  height: 10%;
  width: 96%;
  margin: 0px 2%;
  padding: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}
.send {
  width: 90%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border-radius: 15px 0px 0px 15px;
  box-shadow: none;
}
.sendButton {
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: none;
  box-shadow: none;
  width: 10%;
  color: black;
  background-color: transparent;
  cursor: pointer;
}
.sendButton:hover {
  transform: none;
}


/**  Messager  **/
.leftDrawerButton {
  width: 28px;
  height: 100%;
  margin: 0px;
  padding: 2px;
  background-color: rgb(166, 149, 96);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  border-radius: 0px 15px 15px 0px;
  color: black;
  font-size: 20px;
  z-index: 5;
}
.leftDrawerButton:hover {
  transform: none;
}
.leftDrawer {
  position: fixed;
  display: flex;
  justify-content: right;
  top: 50px; left: 0px; bottom: 10px;
  border-radius: 0px 15px 15px 0px;
  width: fit-content;
  z-index: 5;
}
.leftOpenDrawer {
  width: 400px;
  background-color: rgb(190, 169, 117);
}
.stateTable {
  padding: 10px;
  width: 96%;
  display: grid;
  grid-template-columns: 50% 50%;
}


/**  Bug Viewer  **/
.viewer {
  margin: 0px 10%;
  display: flex;
  justify-content: center;
}
.navigate {
  margin: 10px;
  width: 20%;
}


/**  Tutorial  **/
.tutorial {
  filter: brightness(30%);
}
.nameBox {
  position: fixed;
  top: 200px; left: 25%; right: 25%;
}
.nextBox {
  position: fixed;
  top: 600px; left: 25%; right: 25%;
}
.typeText {
  font-size: 50px;
  color: white;
}
.tutJumpBox {
  background-color: rgb(146, 144, 144);
  margin: 40% 25%;
}